body{
    background-color: black;
}

header{
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-end-end-radius: 25px;
    background-color: darksalmon;
    text-align: center;
    color: brown;
    padding: 20px;
}

.container{
    height: 200px;
    border: thick solid darksalmon;
    border-radius: 25px;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    background-color: white;
    margin: 100px 200px;
    padding-block: 100px 50px;
    box-shadow: 10px 5px 5px hotpink;
}

/*.hide {*/
/*    display: none;*/
/*}*/

/*.show {*/
/*    display: contents;*/
/*}*/

footer{
    height: 120px;
    border-start-start-radius: 25px;
    padding: 20px;
    background-clip: content-box;
    text-align: center;
    background: coral;
    margin-top: 20px;
}

a{
    color: brown;
}

button {
    border-radius: 25px;
    background-color: coral;
    font-style: oblique;
}

